# URL backend API (Default: /api jika frontend & backend satu domain/reverse proxy)
# Contoh untuk domain/VPS lain: VITE_API_URL=https://bel.sekolahbaru.sch.id/api
VITE_API_URL=/api

# Nama sekolah default saat database baru/kosong
VITE_SCHOOL_NAME=SMA Negeri 1 Example
